@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Roboto&display=swap");
:root {
  --header-height: 70px;
  --footer-height: 65px;
  --primary-bg-color: #cccccc;
  --secondary-bg-color: #041423;
}
* {
  box-sizing: border-box;
}

html {
  font-family: Inter, Helvetica, sans-serif;
}
body {
  margin: 0;

  width: 100vw; /* change from % to vw */
  height: 100vh; /* change from % to vh */
}
.wrapper {
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  display: flex;
}

.header-wrapper {
  height: var(--header-height); /* used the var instead of 70px*/
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: var(--secondary-bg-color);
}
.logo {
  width: 65px;
  height: 65px;
  background-image: url(/download__1_-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
a {
  text-decoration: none;
  color: lightblue;
}
a:hover {
  color: blue;
}
.navigation-menu {
  color: white;
}
main {
  min-height: calc(
    100% - var(--header-height) - var(--footer-height)
  ); /* change from var you used var for color not hight  */
  width: 100%;
  margin-top: auto;
  background-color: red;



}
footer {
  width: 100%;
  height: var(--footer-height);
  margin-top: auto;
  background-color: var(--secondary-bg-color);/*removed color text from var it was colorcolor */
}
